@import "tailwindcss";

html,
body,
#root {
  @apply h-full m-0 p-0 bg-black;

  /* Prevent text selection and long-press menu */
  touch-action: none; /* Prevent default touch gestures */
  -webkit-user-select: none; /* Disable text selection on iOS */
  user-select: none; /* Disable text selection in general */
  -webkit-touch-callout: none; /* Disable iOS long-press menu */
}

canvas {
  touch-action: none; /* Ensure canvas ignores default gestures */
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.ui-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  z-index: 100;
  pointer-events: auto;
}