@import "tailwindcss";

html,
body,
#root {
  @apply h-auto m-0 p-0 bg-black;

  /* Prevent text selection and long-press menu */
  touch-action: none; /* Prevent default touch gestures */
  -webkit-user-select: none; /* Disable text selection on iOS */
  user-select: none; /* Disable text selection in general */
  -webkit-touch-callout: none; /* Disable iOS long-press menu */
}

canvas {
  touch-action: none; /* Ensure canvas ignores default gestures */
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

@supports (padding: max(0px)) {
  .safe-padding {
    padding-top: calc(env(safe-area-inset-top) + 1rem);
    padding-right: calc(env(safe-area-inset-right) + 1rem);
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
    padding-left: calc(env(safe-area-inset-left) + 1rem);
  }
}
